* {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    border: 0;
    font-family: sans-serif;
    
}

main {
    display: flex;
    margin: auto;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15rem auto 0;
    width: 30rem;
    height: 40rem;
    gap: 1rem;
    border: 1px solid;
    background: rgb(94, 94, 94);
    border-radius: 2rem;
    font-size: 1.5rem;
}

.title {
    display: flex;    
    margin: 1rem;
    border-radius: 0.5rem;
    border: 1rem;
}    

h1 {
    border-radius: 0.5rem;
    width: 29rem;
    background: rgb(34, 14, 117);
    color: #fff;
    filter: drop-shadow(8px 8px 4px #685fb7);
}

.input {
    display: flex;
    width: 25rem;
    height: 3rem;
    text-align: center;
    align-items: center;
    background: rgb(94, 94, 94);
    justify-content: space-between;
    
}

.input label {
    border: 1rem;
}

input {
    border-radius: .5rem;
    filter: drop-shadow(8px 8px 4px #a5a59c);
    
}

#nome, #altura, #peso {
    background-color: rgb(45, 43, 43);
    width: 70%;
    height: 3rem;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    
}

label {
    background: rgb(94, 94, 94);
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

#calcular:hover {
    transition: all .3s ease-in-out;
    background: rgb(34, 14, 117);
}

.result, button {
    background: rgb(45, 43, 43);
    font-size: 2.5rem;
    width: 25rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    filter: drop-shadow(8px 8px 4px #a5a59c);
}

button:hover {
    transition: all 0.3s ease-in-out;
    color: rgb(255, 255, 255);
}

.result {
    background: rgb(45, 43, 43);
    width: 22rem;
    height: 10rem;
    border: .1rem solid;
    border-radius: 1rem;
    margin-top: 0.6rem;
    font-size: 1.5rem;
    padding: 1.5rem 1rem 0;
    filter: drop-shadow(8px 8px 4px #96968c);
}



